<button 
    class="button{{#if class }} {{ class }}{{/if}}"
    {{#if page }} page="{{ page }}"{{/if}}
    {{#if disabled }} disabled{{/if}}
    {{#if title }} title="{{ title }}"{{/if}}
>
    {{#if img }}<img src="{{ img }}" alt="{{ alt }}">{{/if}}
    {{#if text }}{{ text }}{{/if}}
</button>
